{% extends 'user/userprofilebase.html' %}
{% load bootstrap4 %}
{% block title %}Change Password{% endblock %}

{% block edit %}
	<div style="width: 60%;margin: 0 auto;padding-top: 2%;">
		<center class="title">Change Password?</center>
			<form method="POST">
			{% csrf_token %}
			{% bootstrap_form form %}
			<a class="text-decoration-none" href="{% url 'account:password_reset' %}">Forgot Password?</a>
			<center>
				<a href="{% url 'user:editprofile' %}" class="btn btn-outline-primary" type="submit">Cancel</a>
				<button class="btn btn-outline-primary" type="submit">Save</button>
			</center>
			</form>
	</div>
{% endblock %}