{% extends 'index.html' %}
{% block title %}Post Query{% endblock %}
{% block content %}
	<br>
	<center class="title">Helloo {{request.user}}! Do you wanna ask something??</center>
	<br>
	<br>
	<div class="container">
		<form  method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="querySelectBox">
	         	{{ form.category.errors }}
	         	{{ form.category.label_tag }}
				{{ form.category }}
        	</div>
        	<div class="queryTitle">
       			{{ form.query_title.errors }}
				{{ form.query_title.label_tag }}
				{{ form.query_title}}	  
        	</div>
        	<br>
        	<div class="queryTextBox" >
        		{{ form.query_text.errors }}
				{{ form.query_text }}
        	</div>
        	<br>
        	<br>
	        <div class="queryfoot">
	        	<button type="submit" class="save btn btn-outline-primary" name="button">Post Query</button>	
	        </div>
	    </form>
  </div>
 {% endblock %}
